<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854009184930-3t5jcg1ml8e2atd4o8aeo6m2k646h0qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854009184930-3t5jcg1ml8e2atd4o8aeo6m2k646h0qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAHkqPft-2hnyaianChgY-qXWOxbi5kYno</string>
	<key>GCM_SENDER_ID</key>
	<string>854009184930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samscloud.sams</string>
	<key>PROJECT_ID</key>
	<string>samscloud-1564521077606</string>
	<key>STORAGE_BUCKET</key>
	<string>samscloud-1564521077606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854009184930:ios:d0f43cdd49b1639ec14dfb</string>
	<key>DATABASE_URL</key>
	<string>https://samscloud-1564521077606.firebaseio.com</string>
</dict>
</plist>